


<footer>
    


	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
	
   

	<script type="text/javascript" src="/material/js/ripples.min.js"></script>
	
	<script type="text/javascript" src="/material/js/material.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script src='/tinymce/tinymce.min.js'></script>


	<script>
	
	$( document ).ready(function(){
    $(function() 
    {
        $.material.init();
    });
});




  tinymce.init({
    selector: '#posting',
	 plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste imagetools"
    ]
	

  });






</script>



</footer>