<footer>




  <script type="text/javascript" src="/jquery/jquery.min.js"></script>



  <script type="text/javascript" src="/material/js/ripples.min.js"></script>

  <script type="text/javascript" src="/material/js/material.min.js"></script>

  
  <script src='/tinymce/tinymce.min.js'></script>
 


  <script>
	
	$( document ).ready(function(){
    $(function() 
    {
        $.material.init();
    });
});




  tinymce.init({
    selector: '#tiny',

  height: 500,
  resize: false,
  theme: 'modern',
  force_br_newlines : true,
        force_p_newlines : false,
        forced_root_block : '', // Needed for 3.x
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
  ],
  toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons',
  image_advtab: true,
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ],
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tinymce.com/css/codepen.min.css'
  ]
  });







</script>


  <script>


// $(document).on("click","#masuk",function() {

// var coba = tinyMCE.activeEditor.getContent({format : 'text'});
 
// alert(coba);


// $("#isiPosting").submit( function () {    
//     $.ajax({   
//         type: "POST",
//         data :,
//         cache: false,  
//         url: "addpost.html",   
//         success: function(data){
//             $("# ").html(data);                       
//         }   
//     });   
//     return false;   
// });

// });



</script>



</footer>