


<footer>
    


	<script type="text/javascript" src="/javascripts/jquery/jquery.min.js"></script>
	<script src="/javascripts/angular/angular.min.js"></script>
   

	<script type="text/javascript" src="/javascripts/bootstrap/ripples.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap/material.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
     <script  src="/quill/quill.js"></script>


	<script>
	
	$( document ).ready(function(){
    $(function() 
    {
        $.material.init();
    });
});





</script>



</footer>