

<% include fragment/header.html %>


<body>
    <form method="post" action="/mendaftar">

        <h1> Daftar !</h1>
        <br/>
        <div>
            <label>Nama  : </label>
            <input type="text" name="nama" required="true" />
        </div>

        <div>
            <label>password  : </label>
            <input type="password" name="pass" required="true" />
        </div>

        <div>
            <label>Email  : </label>
            <input type="email" name="email" required="true" />
        </div>

        <button type="submit">Daftar Sekarang!</button>
    </form>



</body>

</html>